{% extends "store/base.html" %}
{% load static %}
{% block title %}
{% if keeper %}{{ keeper.name }}{% else %}Инструменталка{% endif %}

{% endblock %}

{% block content %}
<div id="sidebar">
<h3>Категории:</h3>
<form>
<!--    Выбор категорий-->
<ul>
    {% for cat in category %}
        <li>
            <input type="checkbox" class="checked" name="selected_categories" value="{{ cat.slug }}">
            <span>{{ cat.name }}</span>
        </li>
    {% endfor %}
</ul><br>
<center><button>Найти</button></center>
</form><br>
<!--Отображение владельцев-->
<ul>
  {% for k in keepers %}
    <li {% if keeper.slug == k.slug %}class="selected"{% endif %}>
      <a href="{{ k.get_absolute_url }}">{{ k.name }}</a>
    </li>

  {% endfor %}
</ul>
  </div>
<!--Отображение товаров-->
  <div id="main" class="tool-list">
    <h1>{% if keeper %}{{ keeper.name }}{% else %}Инструменты{% endif %}</h1>
      {% if selected_categories %}
          {% for c in categories %}
          <h3> {{ c.name }}</h3>
          {% endfor %}
      {% endif %}

       <h3> {% if keeper %}<a href="{% url 'store:keeper_operations_list' keeper.slug %}">Операции</a></h3>
      {% endif %}
  <table>
   <tr><th>Наименование</th><th>Кол-во, шт.</th><th>Время изменения</th></tr>
    {% for tool in tools %}

      <tr>
        <td><a href="{{ tool.get_absolute_url }}">{{ tool.name }}</a></td>
        <td>{{ tool.quantity }}</td>
        <td>{{ tool.updated }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}