{% extends "store/base.html" %}
{% load static %}

{% block title %}
  {% if tool %}{{ tool.name }}{% else %}Операция{% endif %}
{% endblock %}

{% block content %}

    <p>От: {{tool.keeper}}</p>
    <p>Товар: {{tool.name}} </p>
    <p>В наличии: {{tool.quantity}}</p>


    <form action="" method="post">
        {% csrf_token %}
        <table>
<!--        {{ form }}-->

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}</table>
        <input type="submit" value="Передать" />
    </form>

{% endblock %}