{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Инструменталка{% endblock %}</title>
  <link href='{% static "css/base.css" %}' rel="stylesheet">
</head>
<body>
  <div id="header">
    <a href="/" class="logo">Инструменталка</a>
  </div>
  <div id="subheader">
    <div class="cart">
      <a href="{% url 'store:reqister' %}">Регистация</a> |

{#      {% with total_items=cart|length %}#}
{#          {% if cart|length > 0 %}#}
{#            Your cart:#}
{#            <a href="{% url "cart:cart_detail" %}">#}
{#              {{ total_items }} item{{ total_items|pluralize }},#}
{#              ${{ cart.get_total_price }}#}
{#            </a>#}
{#          {% else %}#}
{#            Your cart is empty.#}
{#          {% endif %}#}
{#        {% endwith %}#}
    </div>
  </div>
  <div id="content">

    {% block content %}
    {% endblock %}
     </div>
{% if page_obj.has_other_pages %}
  <br><br>
<center><table>
  {% if page_obj.has_previous %}
  <tr><a href="?page={{ page_obj.previous_page_number }}">  &lt;  </a> - </tr>
  {% endif %}
  {% for p in paginator.page_range %}
<!--  <li class="hage-num">-->
  {% if page_obj.number == p %}
  <tr> - <b>  {{ p }}  </b> - </tr>
  {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1%}
   <tr> - <a href="?page={{ p }}">  {{ p }}  </a> - </tr>
<!--  </li>-->
  {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
  <tr> - <a href="?page={{ page_obj.next_page_number }}">  &gt;  </a>  </tr>
  {% endif %}
  {% endif %}
</table></center>

</body>
</html>